.description-area{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  
  }
  
  .description-titulo{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ae0287;
    text-shadow: 3px 6px 8px #5e0066;
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #ae0287;
    padding: 10px;
    width: 360px;
    text-align: center;
  }
  
  .description-content{
    width: 360px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px ;
    background-color: black;
  }
  
  .description-content p{
    font-size: 18px;
    text-align: justify;
    color: #fff;
  
  }
  
  .description-btn{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .description-btn a{
    margin-top: 24px;
    padding:  5px 10px 5px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #39003e;
    border-radius: 10px;
  }