.user-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
}

.foto-user{
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
}

.banner-painel{
    width: 100%;
    display: flex;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 100px;
}

.banner-painel .banner-left{
    margin-top: 80px;
}